@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Raleway&display=swap');


*{
    padding: 0;
    margin: 0;
    color: #262626;
  }
  
  body{
    height: 100vh;
    background: #f2f2e8;
  }

  strong{
    font-size: 25px;
    font-weight: 500;
  }

  header{
    height:5vh;
    width: 100%;
    display:flex;
    flex-direction: column;
    position: relative;
    margin: 10px 10px;
  }
  header > img{
    height: auto;
    max-width: 100px;
    margin-bottom: 5px;
  }

  .name{
    fill: 
  }
  
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 85vh;
  }

  .heading {
    position: relative;
    font: 500 100px 'Megrim', cursive;
    line-height: 150px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    transform: skew(-16deg, 1deg);
    margin: 50px 0;
  }
  
  .heading:before{
    content: "";
    display: block;
    width: 70%;
    margin: auto;
    background: #262626;
    height: 2px;
    animation: lineanim 2s ease-in-out;
  }
  
  .heading:after{
    content: "";
    display: block;
    width: 70%;
    margin: auto;
    background: #262626;
    height: 2px;
    animation: lineanim 2s ease-in-out;
  }
  
  @keyframes lineanim {
    0% {
      width: 0;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 70%;
    }
  }
  
  .site-name{
    margin: 10px 0;
  }
  
  .site-name > * {
    text-align: center;
    display: block;
    font-family: 'Raleway', sans-serif;
    margin: 10px 0;
  }
  
  .site-name > h2 {
    color: #262626;
    font-size: 50px;
    font-weight: 200;
  }
  
  .icon-set a > i{
    font-size: 40px;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 5px;
    transition: opacity 0.3s;
  }

  .icon-set a > i:hover{
    opacity: 0.7;
  }

  
  .footer {
    text-align: center;
    position:absolute;
    bottom: 0;
  }
  
  /* .icon svg{
      height: auto;
      width: 100%;
  } */
  
  .contact {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .contact > a {
    text-decoration: 0;
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
    transition: transform 250ms;
  }

  .contact > a:hover{
    transform: translateY(-10px);
  }

  
  @media screen and (max-width: 767px) and (min-width: 601px) {
    .heading{
      font: 500 60px 'Megrim', cursive;
      line-height: 80px;
    }
    .site-name > h2 {
      font-size: 35px;
    }
    strong {
      font-size: 25px;
    }
    .contact {
      font-size: 25px;
    }
  }
  
  @media (max-width: 600px) {
    .heading {
      font: 500 45px 'Megrim', cursive;
      line-height: 70px;
    }
    .site-name > h2 {
      font-size: 30px;
    }
    strong {
      font-size: 20px;
    }
    .contact {
      font-size: 20px;
    }
  }

  .animate__animated.animate__fadeInDown {
    --animate-duration: 2s;
  }